.services {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.servicesSvg {
  height: 200px;
  width: 200px;
}

/****************************************************************************/
/****************************** survey **************************************/
/****************************************************************************/

/* survey button */
.chat-popup {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	font-size: x-large;
}
.open-chat-button {
	font-weight: bold;
	padding: 30px;
	align-items: center;
	background-color: #1699e2;
	border: none;
	border-radius: 8px;
	box-shadow: 0 0 10px #0003;
	color: #fff;
	cursor: pointer;
	display: flex;
	height: 40px;
	justify-content: center;
}
.sparkles-icon {
	fill: #fff;
	height: 20px;
	margin-right: 5px;
	margin-top: 3px;
	width: 20px;
}

/* survey container */
.survey{
  margin: 2rem auto;
  background: white;
  border: 1px solid  #1976D2;;
  border-radius: 3px;
  text-align: left;
	right: 20px;
	position: 'fixed';
	bottom: 0;
}
.surveytitle {
  background-color: #1976D2;
	color: white;
	font-size: 1.4rem;
	padding: 20px;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	width: 100%;
}
.survey label{
  font-size: 1.2rem;
  line-height: 1;
  cursor: pointer;
  display: block;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
  border-top: 1px solid rgba(black,.1);
  background: white;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .15s ease;
	color:  #1976D2;
}
@media only screen and (max-width: 800px) {
	.survey{
		margin: 0;
		right: 0;
	}
	.surveytitle {
		font-size: 1.1rem;
	}
	.survey label{
		font-size: 0.9rem;
	}
}

.survey label:first-of-type {
  border: 0;
}
.survey label:before {
  content: "";
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 0.2rem solid #ccc;
}
.survey input:checked + label, .survey label:focus, .survey label:hover, .survey label:active {
  color: #1976D2;
}
.survey input:checked + label:before, .survey label:focus:before, .survey label:hover:before, .survey label:active:before {
  background: white;
  border-color: #1976D2;
}
.surveyitem {
	margin: 0%;
	padding: 0%;
}
.survey input[type=radio]{
  display: none;
}
.survey input:checked + label:before {
  border-color: white;
  border: none;
  background: #1976D2;
}

/* survey button */
.surveybuttons {
	text-align: center;
}
.surveybutton {
  outline: none;
  cursor: pointer;
  background: none;
  transition: 0.5s;
  font-size: 24px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
	margin: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.surveybutton:hover {
  border: none;
  color: white;
  font-size: 28px;
  transform: scale(1.1);
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*/
.nav-pills-custom .nav-link {
	color: #aaa;
	background: #fff;
	position: relative;
}

.nav-pills-custom .nav-link.active {
	color: #45b649;
	background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
	.nav-pills-custom .nav-link::before {
			content: '';
			display: block;
			border-top: 8px solid transparent;
			border-left: 10px solid #fff;
			border-bottom: 8px solid transparent;
			position: absolute;
			top: 50%;
			right: -10px;
			transform: translateY(-50%);
			opacity: 0;
	}
}

.nav-pills-custom .nav-link.active::before {
	opacity: 1;
}