.section {
	color: #0000FF !important;
	font-weight: bolder;
}
.markdown > h2 {
	color: #0000FF !important;
}
.markdown > h3 {
	color: #0000FF !important;
}
.lightgreen {
	color: #3CB371;
}
.green {
	color: #006400;
}
.red {
	color: #FAA0A0;
}
.orange {
	color: #EC5800
}

.rtxt {
	/*       -moz-transform:rotate(-90deg); 
					 -moz-transform-origin: top left;
					 -webkit-transform: rotate(-90deg);
					 -webkit-transform-origin: top left;
					 -o-transform: rotate(-90deg);
					 -o-transform-origin:  top left; */
	
					 transform: rotate(-90deg);
					 transform-origin:  top left;
	
					 position:relative;
					 top:20px;
				}
				.rtd {
					 white-space: nowrap;
					 height:8em;
					 vertical-align:bottom
				}

				.slim {
          padding: 6px;
					margin-right: 0.5em;
          /*border: 1px solid #ccc;*/
          width: 1em;
      }